<!-- https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=d9e811dda52145e39c98c7a8e501fff3&q=Obama-->
<!-- end date https://api.nytimes.com/svc/search/v2/articlesearch.json?q=Obama&begin_date=20040101&end_date=20060101&api-key=d9e811dda52145e39c98c7a8e501fff3 -->
<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
		<title>Google News Search</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		    <!-- Custom styles for this template -->
    		<link href="/assets/css/jumbotron.css" rel="stylesheet">
		</head>
	<body>


    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Veritask</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
           <li class="nav-item">
            <a class="nav-link" href="/savedArticles">Saved Articles</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
        <a class="btn btn-outline-primary" href="/dashboard">Dashboard</a>
        &nbsp
        	<a class="btn btn-outline-primary" href="/logout">Sign out</a>
        </form>
      </div>
    </nav>

		<div class="container">
			<!-- Jumbotron -->
			<div class="jumbotron">
				<h1>Article Search</h1>
							<form id="your_form" onsubmit="yourFunction()">
								<div class="form-group">
	    							<label for="search">Search Term:</label>
	    							<input type="text" class="form-control" id="search">
  								</div>
  								<div class="form-group">
	  								<label for="sel1">Number of Records to Retrieve:</label>
								    <select class="form-control" id="numRecords">
										<option value="1">1</option>
										<option value="5" selected="">5</option>
										<option value="10">10</option>
										<option value="10">15</option>
										<option value="10">20</option>
									</select>
							   </div>
  								<div class="form-group">
  									<label for="startYear">Start Year:</label>
  									<input type="text" class="form-control" id="startYear">
  								</div>
  								<div class="form-group">
  									<label for="endYear">End Year:</label>
  									<input type="text" class="form-control" id="endYear">
  								</div>
  								<button type="submit" class="btn btn-default" id="searchBtn">Search</button>
  								<button type="button" class="btn btn-default">Clear</button>
  							</form>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<!-- Results Panel -->
					<div class="panel panel-default">
					{{#if this.articles}}
						<div class="panel-heading">
							<h3 class="panel-title">Search Results</h3>
						</div>
					{{/if}}
						<div class="panel-body" id="wellSection">
								{{#each articles as |value key|}}
								<div class="card">
									{{#if this.urlToImage}}
  									<img class="urlImg card-img-top" src="{{this.urlToImage}}" alt="Card image cap">
  									{{/if}}
  									<div class="card-body">
    									<div class="ttl card-title">{{this.title}}</div>
    									<div class="desc card-text">{{this.description}}</div>
  									</div>
  									<div class="list-group list-group-flush">
    									<div class="source list-group-item">Source: {{this.source.name}}</div>
    									<div class="author list-group-item">Author: {{this.author}}</div>
    									<div class="pub list-group-item">Published at: {{this.publishedAt}}</div>
  									</div>
  									<div class="card-body">
    								Url: <a href="{{this.url}}" class="url card-link">{{this.url}}</a>
  									</div>
  									<div class="card-body">
    									<button name="cardBtn" class="car btn btn-primary" type="button">Flag as Fake</button> 
  									</div>
  								 <input type="hidden" name="urlImg" value="{{this.urlToImage}}">
								 <input type="hidden" name="title" value="{{this.title}}">
								 <input type="hidden" name="description" value="{{this.description}}">
								 <input type="hidden" name="source" value="{{this.source.name}}">
								 <input type="hidden" name="author" value="{{this.author}}">
								 <input type="hidden" name="pub" value="{{this.publishedAt}}">
								 <input type="hidden" name="url" value="{{this.url}}"> 

								</div>
								<br />

								{{/each}}
						</div>
						{{#if this.articles}}
							<form id="form2" onsubmit="yourFunction()">
						<nav aria-label="Page navigation example">
  							<ul class="pagination justify-content-center">
    							<li class="page-item disabled">
      								<a class="page-link" href="#" tabindex="-1">Previous</a>
    							</li>
    							<li class="page-item"><a class="page-link" href="#">1</a></li>
    							<li class="page-item"><a class="page-link">2</a></li>
    							<li class="page-item"><a class="page-link">3</a></li>
    							<li class="page-item">
      								<a class="page-link" href="#">Next</a>
    							</li>
  							</ul>
						</nav>
						</form>
						{{/if}}
				</div>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="/assets/js/script.js"></script>
	</body>
</html>